.brand-detail-continer {
  .icon-back {
    cursor: pointer;
  }

  .title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: var(--primary-dark-1);
  }

  .re-upload {
    cursor: pointer;
    color: var(--highlight);
  }

  .input-file {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px dashed var(--highlight);
    border-radius: 4px;
    height: 40px;
    position: relative;

    input {
      opacity: 0;
      z-index: 1;
    }

    .upload-txt {
      z-index: 0;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      color: var(--highlight);
      min-width: 145px;
    }
  }

  .icon-remove-file {
    cursor: pointer;
    color: var(--body);
    font-size: 16px;
    height: 16px;
    width: 16px;
    margin-left: 8px;
  }

  .no-input-file {
    visibility: hidden;
    height: 0;
  }

  input[type='file'] {
    cursor: pointer;
    width: 100%;
    color: var(--disable);
    margin-left: 4px;
  }

  .error {
    color: red;
  }
}
