<div class="listing-brand-container">
  <div class="header">
    <div class="d-flex align-items-center">
      <div class="title">CAR BRANDS LIST</div>

      <mat-form-field appearance="fill" class="mr-4">
        <mat-select [(value)]="selectedStatus">
          <mat-option [value]="status.value" *ngFor="let status of statuses">
            {{ status.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input [formControl]="searchForm" matInput placeholder="Search" />
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
    </div>

    <button
      mat-raised-button
      color="primary"
      class="add-brand"
      (click)="openDialogAddBrand()"
    >
      <mat-icon class="mr-1">add</mat-icon>
      <span>Add Brand</span>
    </button>
  </div>

  <div class="body">
    <ng-container *ngFor="let item of brands">
      <div class="d-flex justify-content-between align-items-center row-data">
        <div class="circle"></div>
        <img height="64" width="64" alt="Logo" src="{{ item.img_url }}" />
        <div class="line"></div>
        <div class="model">
          <div class="title">{{ item.name }}</div>
          <div class="model-detail">
            <div>{{ item.description }}</div>
            <div class="model-detail-line"></div>
            <div>{{ item.number_model }} Models</div>
          </div>
        </div>
        <div>
          <div>Last Update</div>
          <div>{{ item.last_update }}</div>
        </div>
        <div class="d-flex align-items-center justify-content-between status">
          <div [class.inactive]="!item.status" class="dot"></div>
          <div>{{ item.status ? "Active" : "Inactive" }}</div>
        </div>
        <ng-container *ngIf="!clickedDelete; else isDeleting">
          <mat-icon class="icon-delete" (click)="deleteCarBrand(item.id)">
            delete
          </mat-icon>
        </ng-container>
        <ng-template #isDeleting>
          <mat-icon class="icon-delete" (click)="deleteCarBrand(item.id)">
            pending
          </mat-icon>
        </ng-template>
        <button mat-raised-button [routerLink]="'/home/detail/' + item.id">
          <span>View Details</span>
        </button>
      </div>
      <mat-divider></mat-divider>
    </ng-container>
  </div>
</div>
